/.idea/
/node_modules/
/packages/*/dist
/apps/*/dist
/app_runners/dev/*/.next
/app_runners/prod/*/dist
/dist
/.nx
# npm
.npmrc
/.npmrc
# .env files
.env*
/.env*
!.env.example
!/.env.sample
!/packages/*/.env.sample
!/packages/*/.env.example
.DS_Store
